/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Raleway', sans-serif;
}

.page-header {
  margin: 0px !important;
  padding: 30px 0 !important;
  font-weight: 600;
    /* padding-bottom: 9px; */
    /* margin: 40px 0 20px; */
    /* border-bottom: 1px solid #eeeeee; */
}

.entry-title {
  font-weight: 600;
}

.navbar-default {
  background-color: #fff;
  border: none;
  font-weight: bolder;
  text-tranform: upcase;
}

.navbar-default a {
  color: #333333;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  zoom: 1;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a {
    color: #333;
}

.btn-primary {
  background-color: #000;
  border-radius: 1px;
  padding: 12px 40px;
}

