<div class="page-header">
  <div class="container">
    <div class="col-sm-6">
        <h1 class="entry-title">Shop Apparel</h1>
    </div>
    <div class="col-sm-6">
      <%= link_to "Back to All Items", root_path, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
</div>

<div id="content-inside" class="container no-sidebar">
<div id="primary" class="content-area">
<main id="main" class="site-main" role="main"> <h1 class="page-title">Shop</h1>



<div id='product-component-49f621d4b3a'></div>
<script type="text/javascript">
/*<![CDATA[*/

(function () {
  var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
  if (window.ShopifyBuy) {
    if (window.ShopifyBuy.UI) {
      ShopifyBuyInit();
    } else {
      loadScript();
    }
  } else {
    loadScript();
  }

  function loadScript() {
    var script = document.createElement('script');
    script.async = true;
    script.src = scriptURL;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
    script.onload = ShopifyBuyInit;
  }

  function ShopifyBuyInit() {
    var client = ShopifyBuy.buildClient({
      domain: 'ann-arbor-tees.myshopify.com',
      apiKey: '6c015f420b8eab446ce0d53a98d48939',
      appId: '6',
    });

    ShopifyBuy.UI.onReady(client).then(function (ui) {
      ui.createComponent('product', {
        id: [<%= @product %>],
        node: document.getElementById('product-component-49f621d4b3a'),
        moneyFormat: '%24%7B%7Bamount%7D%7D',
        options: {
  "product": {
    "layout": "horizontal",
    "variantId": "all",
    "width": "100%",
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "description": true,
      "buttonWithQuantity": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "text-align": "left",
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0",
          "margin-bottom": "50px"
        }
      },
      "button": {
        "background-color": "#f",
        "font-family": "Raleway, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "border-radius": "1px",
        ":focus": {
          "background-color": "#000000"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "title": {
        "font-family": "Raleway, sans-serif",
        "font-size": "26px"
      },
      "description": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "price": {
        "font-family": "Raleway, sans-serif",
        "font-size": "18px",
        "color": "#77a464",
        "font-weight": "bold"
      },
      "compareAt": {
        "font-size": "15px",
        "color": "#77a464",
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      }
    },
    "googleFonts": [
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway"
    ]
  },
  "cart": {
    "contents": {
      "button": true
    },
    "styles": {
      "button": {
        "background-color": "#000000",
        "font-family": "Raleway, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "border-radius": "1px",
        ":focus": {
          "background-color": "#000000"
        },
        "font-weight": "bold"
      },
      "footer": {
        "background-color": "#ffffff"
      }
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "modalProduct": {
    "contents": {
      "img": false,
      "imgWithCarousel": true,
      "variantTitle": false,
      "buttonWithQuantity": true,
      "button": false,
      "quantity": false
    },
    "styles": {
      "product": {
        "@media (min-width: 601px)": {
          "max-width": "100%",
          "margin-left": "0px",
          "margin-bottom": "0px"
        }
      },
      "button": {
        "background-color": "#000000",
        "font-family": "Raleway, sans-serif",
        ":hover": {
          "background-color": "#000000"
        },
        "border-radius": "1px",
        ":focus": {
          "background-color": "#000000"
        },
        "font-weight": "bold"
      },
      "variantTitle": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "title": {
        "font-family": "Raleway, sans-serif"
      },
      "description": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "price": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "compareAt": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      }
    },
    "googleFonts": [
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway",
      "Raleway"
    ]
  },
  "toggle": {
    "styles": {
      "toggle": {
        "font-family": "Raleway, sans-serif",
        "background-color": "#000000",
        ":hover": {
          "background-color": "#000000"
        },
        ":focus": {
          "background-color": "#000000"
        },
        "font-weight": "bold"
      }
    },
    "googleFonts": [
      "Raleway"
    ]
  },
  "option": {
    "styles": {
      "label": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      },
      "select": {
        "font-family": "Raleway, sans-serif",
        "font-weight": "bold"
      }
    },
    "googleFonts": [
      "Raleway",
      "Raleway"
    ]
  },
  "productSet": {
    "styles": {
      "products": {
        "@media (min-width: 601px)": {
          "margin-left": "-20px"
        }
      }
    }
  }
}
      });
    });
  }
})();
/*]]>*/
</script>
<br />
<br />
</main>
</div>
</div>
